<template>
    <div class="w-full bg-white">
        <div class="w-full flex justify-between my-4 mb-12">
            <p>LOGO</p>
            <button id="addToCart" @click="openModal()">
                View Cart
            </button>
        </div>
        <h2 class="text-2xl font-bold uppercase pb-4">Products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pb-4">
            <ProductItem v-for="data in testData" :product="data" :key="data.id" />
        </div>

        <!-- Cart Modal -->
        <modal v-show="showModal" @closeModal="closeModal">
            <template v-slot:header>
                <h4>View Cart</h4>
            </template>

            <template v-slot:body>
                <div>
                    <Cart :products="cartProducts" :totalPrice="totalCost" />
                </div>
            </template>
        </modal>
    </div>
</template>

<script>
import ProductItem from './products/ProductItem.vue';
import testData from '../data/test.json';
import Modal from './common/modal.vue';
import Cart from './cart/index.vue';
import ls from '../helpers/localStore.js';

export default {
    data() {
        return {
            showModal: false,
            testData: testData,
            cartProducts: [],
            totalCost: 0,
        }
    },
    components: {
        ProductItem,
        Modal,
        Cart
    },
    methods: {
        getProducts() {
            let cart = [];

            if (ls.get("cart")) {
                cart = JSON.parse(ls.get("cart"));

                for(let item in cart) {
                    const totalItemsCost = parseFloat(cart[item].price) * parseFloat(cart[item].qty);

                    this.totalCost = this.totalCost + totalItemsCost;
                }
            }


            this.cartProducts = cart;
        },
        openModal() {
            this.getProducts();
            this.showModal = true;
        },
        closeModal() {
            this.showModal = false;
        }
    }
}
</script>

<style lang="scss">
#addToCart {
    @apply bg-blue-800 text-white py-2 px-4 transition-colors ease-linear hover:bg-blue-400 hover:shadow-lg;
}
</style>
