<template>
  <div class="container">
    <img :src="product.img" />
    <div class="w-full py-1">
      <h3 class="text-lg font-bold font-sans">{{ product.name }}</h3>
      <p class="pb-4 font-thin">${{ product.price }}</p>
      <button id="button" @click="addItemToCart()">
        Add to Cart
      </button>
    </div>
  </div>
</template>

<script>
import ls from "../../helpers/localStore";

export default {
  props: {
    product: Object
  },
  methods: {
    addItemToCart() {
      let cart;
      const id = this.product.id;

      if (ls.get("cart")) {
        cart = JSON.parse(ls.get("cart"));
      } else {
        let newCart = {};
        let cartItem = {
          name: this.product.name,
          price: this.product.price,
          qty: 1
        };
        newCart[id] = cartItem;
        console.log(newCart);
        ls.set("cart", JSON.stringify(newCart));
        return;
      }

      if (id in cart) {
        cart[id].qty++;
      } else {
        let cartItem = {
          name: this.product.name,
          price: this.product.price,
          qty: 1
        };
        cart[id] = cartItem;
      }

      ls.set("cart", JSON.stringify(cart));
    }
  }
}
</script>

<style lang="scss">
.container {
  @apply w-full p-2 rounded-sm bg-gray-100 hover:bg-gray-300 hover:shadow-md cursor-pointer;

  img {
    @apply w-full object-cover;
  }

  #button {
    @apply w-full bg-white border border-gray-400 transition-all ease-in hover:border-gray-800 py-4;
  }
}
</style>