<template>
    <div class="w-[40em]">
        <div v-if="Object.keys(products).length > 0" class="flex flex-col">
            <ul class="text-left">
                <li v-for="product, id in products" :key="id" class="my-2 mb-4">
                    <div class="w-full flex justify-between pl-1 pr-4">
                        <p class="font-bold">{{ product.name }} ({{ product.qty }})</p>
                        <p clas="italic">${{ product.price }}</p>
                    </div>
                </li>
            </ul>            
            <p class="uppercase self-end ml-12">
                Total - <strong>${{ totalPrice }}</strong>
            </p>
        </div>
        <div v-else>
            <h4>No Products added to cart</h4>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        products: Object,
        totalPrice: Number
    }
}
</script>
